:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --main-button-color: #ffffff;
  --second-button-color: #212121;
  --header-text-color: #212121;
  --connection-color: #757575;
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --address-color: #ffffff;
  --contact-online: rgba(255, 255, 255, 0.6);
  --buttom-accent-color: #2196f3;
  --social-main-color: #afb1b8;
  --social-accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  outline: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*  display: flex; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  top: 430px;
  bottom: 200px;
  color: var(--main-button-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
  /* margin-right: 15px; */
  outline: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.first-logo {
  color: var(--first-logo-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  min-width: 290px;
  background-color: white;
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--buttom-accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--second-tittle-color);
}

@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  font-size: 10px;
  line-height: 1.09;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

@media screen and (min-width: 480px) {
  .modal-form__label {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.input-wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--social-accent-color);
}

.modal-form__input:focus + .input__icon {
  fill: var(--social-accent-color);
}

.input__icon {
  position: absolute;
  color: #212121;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text:focus {
  border-color: var(--social-accent-color);
}

.check__text {
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .check__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check:checked + .check__text .check__item {
  background-color: var(--buttom-accent-color);
  border: none;
}

.modal__check:checked + .check__text .check__item .check-icon {
  fill: #ffffff;
}

.modal__comentbox {
  margin-bottom: 20px;
}

.modal__checkbox {
  margin-bottom: 30px;
}

.agreement__link {
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-text-color);
}

@media screen and (min-width: 480px) {
  .agreement__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .agreement__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn__form {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--buttom-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
  outline: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: 0;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  color: var(--header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-text-color);
}

.header__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -33px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__connect {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header__connect {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__connect {
    display: flex;
    margin-left: 305px;
  }
}

.header__connect--mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--connection-color);
  display: flex;
  outline: none;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__connect--mail:hover, .header__connect--mail:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .header__connect--mail {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;
  }
}

.mail {
  fill: currentColor;
  margin-right: 10px;
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .mail {
    width: 16px;
    height: 12px;
  }
}

.header__connect--tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--connection-color);
  margin-left: 59px;
  display: flex;
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__connect--tel:hover, .header__connect--tel:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .header__connect--tel {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__connect--tel {
    margin-left: 30px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.tel {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .tel {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  width: 360px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 100%;
    width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
  align-items: center;
  text-align: center;
  outline: none;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    align-items: center;
    padding-top: 94px;
    padding-bottom: 0;
  }
}

/* .features__container {
    display: flex;
} */
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: -30;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color-);
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.features__svg {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /*  width: 270px; */
  width: 100%;
  height: 120px;
}

.about {
  display: none;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .about {
    display: flex;
  }
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  margin-top: 50px;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
  align-items: center;
}

.team__list {
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  /* flex-basis: calc(100% / 4 - 30px); */
  margin: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    /*  margin-left: 30px; */
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    /* margin-top: 50px; */
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__title--second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color) #212121;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.team__name {
  padding-top: 30px;
}

.social__list--team {
  margin-top: 16px;
  /* margin-bottom: 30px; */
  padding-bottom: 24px;
}

.social__link--team {
  fill: var(--social-main-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--team:hover, .social__link--team:focus {
  background-color: var(--social-accent-color);
  fill: #fff;
}

.client {
  align-items: center;
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  justify-content: center;
}

.client__item {
  width: 170px;
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--social-main-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  outline: none;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: var(--social-accent-color);
  color: var(--social-accent-color);
}

.client__logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__contact {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    /* margin-left: 76px; */
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
  }
}

.footer-social {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    display: block;
    margin-left: 70px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
  display: block;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__list {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  outline: none;
  color: var(--address-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__map:hover, .footer-address__map:focus {
  color: var(--accent-text-color);
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  outline: none;
  color: var(--contact-online);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-text-color);
}

.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--address-color);
  margin-bottom: 20px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--address-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover, .social__link--footer:focus {
  background-color: var(--social-accent-color);
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
    margin-top: 0;
    margin-left: 93px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__feedback {
    display: flex;
  }
}

.footer-form__input {
  /*  display: flex; */
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2F303A;
  color: var(--connection-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__btn {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: var(--buttom-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-left: 12px;
  }
}

.gallery__buttom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
}

@media screen and (max-width: 767px) {
  .gallery__buttom-list {
    margin-top: -15px;
    margin-bottom: 40px;
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .gallery__buttom-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__buttom-list {
    margin-bottom: 50px;
  }
}

.gallery__buttom-item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .gallery__buttom-item {
    margin-top: 15px;
  }
}

.gallery__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  min-width: 73px;
  color: var(--second-button-color);
  border: 1px solid transparent;
  font-family: inherit;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  outline: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__button:hover, .gallery__button:focus {
  color: var(--main-button-color);
  background-color: var(--buttom-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: -30px;
  }
}

.gallery__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    /* margin-bottom: 30px; */
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__text-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  overflow: auto;
  padding: 63px, 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover .gallery__text-card {
  transform: translateY(0);
}

.gallery__title-text {
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__title-text {
    flex-grow: 1;
  }
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
  margin-bottom: 4px;
}

.gallery__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.mob-menu {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open-menu-btn {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu-btn:hover, .open-menu-btn:focus {
  fill: var(--buttom-accent-color);
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  margin-top: 17px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover, .close-menu-btn:focus {
  fill: var(--buttom-accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: currentColor;
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196F3;
}

/* 
.mob__link--current {
    &:hover,
    &:focus {
        color: #2196F3;
    }
} */
.mob-menu__connect {
  display: flex;
  flex-direction: column;
  /* margin-top: 302px; */
}

.mob-menu--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mob-menu--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-social__list {
  display: flex;
  margin-top: 64px;
  /* margin-right: -20px; */
}

.mob-social__item:not(:last-child) {
  margin-right: 20px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__bottom {
  margin-top: auto;
}
/*# sourceMappingURL=main.css.map */