.mob-menu {
    position: fixed;
    background-color:white;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
}

.open-menu-btn {
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--buttom-accent-color);
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}

.close-menu-btn {
    display: block;
    margin-left: auto;
    margin-top: 17px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--buttom-accent-color);
    }
}

.mob-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: currentColor;
    &:hover,
    &:focus {
        color: #2196F3;
    }
}
/* 
.mob__link--current {
    &:hover,
    &:focus {
        color: #2196F3;
    }
} */

.mob-menu__connect {
    display: flex;
    flex-direction: column;
    /* margin-top: 302px; */
}

.mob-menu--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 32px;
}

.mob-menu--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}

.mob-social__list {
    display: flex;
    margin-top: 64px;
    /* margin-right: -20px; */
}

.mob-social__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.mob-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mob-menu__bottom {
    margin-top: auto;
}


