.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    /* font-size: 26px; */
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    /* margin-right: 93px; */
    margin-right: 15px;
    outline: none;
}

.first-logo {
    color: var(--first-logo-color);
}

